<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale-1.0">
    <title>Projeto Integrador</title>
    <link href="css\style.css" rel="stylesheet">
</head>
  <body>
  <header style="background-color: yellow">
    <div style="display: flex;">
      <div>
      <a style="display:inline; 
                text-align:left;
                margin-left: 20px;" 
       href="index.html" title="Home"><img src="https://img.icons8.com/color/344/espn.png" width="60" height="54"></a>
      </div>
      
      <div style="background-color: white; 
              border: solid 1px; 
              border-radius: 20px; 
              height: 30px;
              width: 220px;
              margin-left: 180px;
              margin-top: 18.5px;">
        <input type="text" style="float: left; 
                                  background-color: none; 
                                  border-radius: 20px;
                                  height: 24px;" placeholder="Buscar..."/
                                  >
        <a href=""><img src="https://img.icons8.com/ios-filled/344/fa314a/search--v1.png"
             style="padding-left: 5px; 
                    font-style: italic; 
                    font-size: 18px; 
                    border: none; 
                    height: 24px; 
                    width: 34px;
                    margin-top: 3px;" alt="Buscar"/></a>
      </div>
      <br>
      <div style="background-color: white; 
                  border: solid 1px; 
                  border-radius: 20px; 
                  width: 130px;
                  height: 30px;
                  margin-left: 220px;
                  margin-top: 18px;">
        <a type= "text" style="display:inline; 
                               text-align:left;" href="index.html">
         <img src="https://img.icons8.com/material-rounded/344/fa314a/user-male-circle.png" 
           style="padding-left: 5px; 
                  font-style: italic; 
                  font-size: 18px; 
                  border: none; 
                  height: 30px; 
                  width: 30px;" alt="Usuário"/></a>
        
      </div>
       <br>
      <div style="background-color: white; 
                  border: solid 1px; 
                  border-radius: 20px;
                  height: 30px;
                  width: 130px;
                  margin-left: 15px;
                  margin-top: 18px;">
        <a type= "text" style="display:inline; 
                               text-align:left;" href="index.html">
         <img src="https://img.icons8.com/material-rounded/344/fa314a/sell-stock.png" 
           style="padding-left: 10px; 
                  font-style: italic; 
                  font-size: 18px; 
                  border: none; 
                  height: 30px; 
                  width: 30px;" alt="Carrinho"/></a>
        
      </div>
    </div>
  </header>
   <main style="background-color: coral
                margin: 80px;
                padding: 20px;"> 
      <div>
          <div style="border: solid khaki 2px;
                      position: relative;
                      display: grid;">
            <h1 style="color: indigo;
                       text-align: center;
                       padding: 4px;
                       font: 35px Arial, sans-serif;">CHEGOU A HORA DE FINALIZAR O SEU PEDIDO</h1>
          </div>
          <div style="background-color: white;
                      text-align: center;
                      margin: 20px;
                      padding: 20px;
                      display: flex;
                      justify-content: space-evenly;">
            <div style="border: solid 1px skyblue;
                        border-radius: 10px;
                        padding: 8px;">
             <img src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" alt="Car" width=355px                    height=335px />
            </div>
            
            <div style="display: grid;">
              <div style="border: solid 1px rosybrown;
                          border-radius: 10px;"> 
                <h2>DESCRIÇÃO DO ITEM</h2>
              </div>
            <div style="border: solid 1px turquoise;
                        border-radius: 10px;
                        font: 15px Arial, sans-serif;
                        padding: 8px;
                        margin: 8px;">
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled it to make a <br>type specimen book. It has survived not only five centuries, but also<br> the leap into electronic typesetting, remaining essentially unchanged.</p><br>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br> when an unknown printer took a galley of type and scrambled it to make a <br>type specimen book. It has survived not only five centuries, but also<br> the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </div>
        </div>
          <div style="background-color: mistyrose;
                      display: flex;
                      justify-content: space-evenly;
                      margin:60px">
            <div style="display: grid;
                        text-align: center;
                        border: solid 1px lawngreen;">
                <div style="">
                  <h3>FORMA DE PAGAMENTO</h3>
                </div>
                <div style="border: solid 1px mediumspringgreen;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 300px;">
                  <p>Lorem Ipsum is simply dummy text of the printing <br>and typesetting industry. Lorem Ipsum has been the<br> industry's standard dummy text ever since the 1500s,</p>
                </div>
              <div style="margin: 20px;
                          display: block;
                          margin-left: auto;
                          margin-right: auto;">
                  <button type="button" style=" display: block;
                                                margin-left: auto;
                                                margin-right: auto;
                                                width: 320px;
                                                text-align: center;
                                                background-color: mediumblue;
                                                border-radius: 10px;"> 
                    <img src="https://img.icons8.com/material-rounded/344/shopping-cart.png" alt="Car" width=54px height=44px/>FINALIZAR COMPRA</button>          
               </div>
            </div>
            
            <div>
            <div style="border: solid 1px lightsalmon; 
                            display: grid;
                            text-align: center;">
                    <div style="padding: 10px;">
                        <img src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" alt="Car" width=320px height=300px/>
                    </div>
                    <div style="border: solid 1px rebeccapurple;
                                display: block;
                                margin:auto auto auto auto;
                                width: 300px">
                        <h4 style="display: block;
                                margin:auto auto auto auto;
                                padding: 1px;">ITENS RELACIONADOS/PROMOÇÕES</h4>
                    </div>
                    <div style="display: block;
                                margin:auto auto auto auto;
                                width: 300px">
                        <a href=""><img src="https://img.icons8.com/material-rounded/344/home-page.png"
                                        style=" padding-left: 5px; 
                                                font-style: italic; 
                                                font-size: 18px; 
                                                border: none; 
                                                height: 44px; 
                                                width: 54px;
                                                margin-top: 10px;" alt="Buscar"/></a>
                    </div>
                </div>
            </div>
          </div>
        
                    
   </main>
<footer style="background-color: silver;">
        <div>
                <div style="text-align: center;">
                  <p>Copyright ©2022, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo do site, todas as fotos, imagens, 
                  logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui veiculados são 
                  exclusivamente para uso acadêmico.</p>
                </div>
                <div style="text-align: center;">
                  <p>Curso Fullstack Web - Turma 0222CDFSPCN05BRED</p>
                </div>

          <div  style="display: flex;
                       justify-content: space-evenly;">
            <div style="margin-left: 145px">
              <img src="https://cdn.icon-icons.com/icons2/818/PNG/128/Social-01-Facebook-Outline_icon-icons.com_66389.png" alt="Facebook" height ="80" width="100" />
              <button type="button">none</button>
            </div>
            <div style="margin-left: 145px">
              <img src="https://cdn.iconscout.com/icon/free/png-256/instagram-logo-3603536-3004252.png" alt="Instagram" height ="80" width="100" />
              <button type="button">none</button>
            </div>
            <div style="margin-left: 145px">
              <img src="https://e7.pngegg.com/pngimages/957/382/png-clipart-computer-icons-twitter-leaf-branch.png" alt="Twitter" height ="80" width="100" />
              <button type="button">none</button>
            </div>
          </div>
      </div>
  </footer>
</body>
</html>