<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale-1.0">
    <title>Projeto Integrador</title>
    <link href="css\style.css" rel="stylesheet">
</head>
  <body>
  <header>
    <div class="container">
      <div class="logo">
      <a href="index.html" title="Home"><img src="https://img.icons8.com/color/344/espn.png" width="60" height="54"></a>
      </div>
      
       <!-- Caixa de pesquisa-->
      <div class="pesquisar">
        <button class="Buscar">
        <input type="text" style="float: left; 
                                  background-color: transparent; 
                                  border-radius: 0 7px 7px 0;
                                  font-size: 15px; 
                                  padding-left:8px;
                                  border-color: transparent;
                                  width: 200px;
                                  font-weight: bold;
                                  height: 32px;" placeholder="Buscar..."/>
                                
                              
        <a href="" title="Pesquisar"><img src="https://img.icons8.com/ios-filled/344/fa314a/search--v1.png"
             style="padding-left: 10px; 
             font-style: italic; 
             font-size: 18px; 
             border: none; 
             height: 30px; 
             width: 35px;" alt="Buscar"/>
                    </button> </a>
      </div>
      <br>

      <!-- botao login/cadastro-->

      <div class="login">
        <button class="BOTAO_CONTA" id="TESTE">MINHA CONTA
        <a type= "text" style="display:flex; 
                               text-align:left;" href="index.html">
         <img src="https://img.icons8.com/material-rounded/344/fa314a/user-male-circle.png" title="Acessar conta"
           style="padding-left: 10px; 
           font-style: italic; 
           font-size: 18px; 
           border: none; 
           height: 30px; 
           width: 35px;" alt="Usuário"/></a>
        </button>
      </div>
       <br>
       
     <!-- Botão carrinho-->

      <div class="carrinho" >
<button class="BOTAO_CARRINHO" id="TESTE">CARRINHO
  
        <a type= "text" style="display:inline; 
                               text-align:left;" href="index.html">
         <img src="https://img.icons8.com/material-rounded/344/fa314a/sell-stock.png" 
           style="padding-left: 10px; 
                  font-style: italic; 
                  font-size: 18px; 
                  border: none; 
                  height: 30px; 
                  width: 30px;" alt="Carrinho"/></a>
        </button>
      </div>
    </div>



 <nav>
 <ul>
   <li><a href="#">TIMES DO BRASIL</a>
     <div class="sub-times-br">
        <ul>
          <li><a href="#">América-MG</a></li>
          <li><a href="#">Athletico-PR</a></li>
          <li><a href="#">Atlético-GO</a></li>
          <li><a href="#">Atlético-MG</a></li>
          <li><a href="#">Avaí</a></li>
          <li><a href="#">Botafogo</a></li>
          <li><a href="#">Ceará</a></li>
          <li><a href="#">Corinthians</a></li>
          <li><a href="#">Coritib</a></li>
          <li><a href="#">Cuiabá</a></li>
          <li><a href="#">Flamengo</a></li>
          <li><a href="#">Fluminense</a></li>
          <li><a href="#">Fortaleza</a></li>
          <li><a href="#">Goiás</a></li>
          <li><a href="#">Internacional</a></li>
          <li><a href="#">Juventude</a></li>
          <li><a href="#">Palmeiras</a></li>
          <li><a href="#">Red Bull Bragantino</a></li>
          <li><a href="#">Santos</a></li>
          <li><a href="#">São Paulo</a></li>
        </li>
        </ul>
      </div>

      
 <li><a href="#">TIMES DA EUROPA</a>
   <div class="sub-times-Europa">
     <ul>
       <li><a href="#">Real Madrid</a></li>
       <li><a href="#">Barcelona</a></li>
       <li><a href="#">Bayern</a></li>
       <li><a href="#">Milan</a></li>
       <li><a href="#">Boca Juniors</a></li>
       <li><a href="#">Liverpool</a></li>
       <li><a href="#">Ajax</a></li>
       <li><a href="#">River Plate</a></li>
       <li><a href="#">Peñarol</a></li>
       <li><a href="#">Internazionale de Milão</a></li>
       <li><a href="#">Benfica</a></li>
       <li><a href="#">Al Ahly</a></li>
       <li><a href="#">Porto</a></li>
       <li><a href="#">Nacional-URU</a></li>
       <li><a href="#">Independiente-ARG</a></li>
       <li><a href="#">Glasgow Rangers</a></li>
       <li><a href="#">Celtic</a></li>
       <li><a href="#">Arsenal</a></li>
     
     </ul>
    </div>
</li>




    
<li><a href="#"> SELEÇÕES</a>                            
   <div class="sub-seleções">
    <ul>                                  
      <li><a href="#">Brasil</a></li>
      <li><a href="#">França</a></li>
      <li><a href="#">Belgica</a></li>
      <li><a href="#">Argentina/a></li>
      <li><a href="#">Inglaterra</a></li>
      <li><a href="#">Italia</a></li>
      <li><a href="#">Espanha</a></li>
      <li><a href="#">Portugal/a></li>
      <li><a href="#">México/a></li>
      <li><a href="#">Holanda</a></li>
      <li><a href="#">Dinamarca</a></li>
      <li><a href="#">Alemanha</a></li>
      <li><a href="#">Uruguai</a></li>
      <li><a href="#">Suiça</a></li>
      <li><a href="#">Estados Unidos</a></li>
      <li><a href="#">Croácia</a></li>
      <li><a href="#">Colombia</a></li>
      <li><a href="#">País de Gales</a></li>
      <li><a href="#">Suécia</a></li>
      <li><a href="#">Senegal</a></li>
          
        </li>
      </ul>
    </div>


        
            <li><a href="#">MAIS OPÇÕES</a>
              <div class="sub-opcoes">
              <ul>
                    <li><a href="#">América-MG</a></li>
                    <li><a href="#">Athletico-PR</a></li>
                    <li><a href="#">Atlético-GO</a></li>
                    <li><a href="#">Atlético-MG</a></li>
                    <li><a href="#">Avaí</a></li>
                    <li><a href="#">Botafogo</a></li>
                    <li><a href="#">Ceará</a></li>
                    <li><a href="#">Corinthians</a></li>
                    <li><a href="#">Coritib</a></li>
                    <li><a href="#">Cuiabá</a></li>
                    <li><a href="#">Flamengo</a></li>
                    <li><a href="#">Fluminense</a></li>
                    <li><a href="#">Fortaleza</a></li>
                    <li><a href="#">Goiás</a></li>
                    <li><a href="#">Internacional</a></li>
                    <li><a href="#">Juventude</a></li>
                    <li><a href="#">Palmeiras</a></li>
                    <li><a href="#">Red Bull Bragantino</a></li>
                    <li><a href="#">Santos</a></li>
                    <li><a href="#">São Paulo</a></li>
                
       </li>
     </ul>
          </div>
          </ul>
  </nav>
</header>


<!--AREA DE COMPRA-->


																														
					
		<!--INICIO BANNER-->
	<div class="
		banner__1">
							         
     <div class="banner__ed"
  
  style="width: 718px; left: -718px;  opacity: 1;" 
  abindex="-1" role="option" aria-describedby="slick-slide01">
													
  <img src="https://images.tcdn.com.br/img/img_prod/860761/1631133245_banner-varejo-atk-fut.png" 
  alt="" title="" width="1390" height="700" class="banner__imagem_1"
  style="">
											</div>
                    </div>
                  </div>
									
                </div>
		
			
			
					</div></div>

																					
				
                      <!--FIM DO BANNER-->


    <div class="
		banner__2">
	<div class="banner vitrine">
	<img src="https://images.tcdn.com.br/img/img_prod/860761/1599610918_banner_extra.png" 
  alt="" title="" width="1300" height="125" class="banner__imagem_2 " 
  style="display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 50px;" >
				</div>
			</div>


				<!--FIM DO BANNER 2-->



        <div class="card-wrapper">
					
          <div class="card-item">
              <h2 class="Titulo__main" style=" display: flex;
              justify-content: center;
              align-items: center;  background-image: linear-gradient(BLUE, yellow);
              height: 100px; color: white; font-size: 50px;">DESTAQUES </h2>
            
            
            <main style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));">


<!--PRODUTO 1-->

              <section class="Catalogo" id="catalogo" style="display:flex ; 
                                                             margin-top: 2px;">
   <div id="pt-1"  class="img__produto" style=" display: grid;">
    <div style="display: flex;">
    <div>
    <a href="">
      <img class="Link__produto"
         src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
         alt="Camisa do Brasil"
         style="">
       </div>   
    </a>
 </div>
          
   <div class="produto__1">
     <h3 class="produto__1__h3">
      <a href=""> Camisa do Brasil  </a></h3>
        
     <div class="Descrição_preços">
        <div class="sub_linha_1">
           <p class="descrição_preço">2 por R$ 00,00</p>
     </div>

       <div class="sub_linha_2">
           <p class="descrição_preço">3 por R$ 00,00</p>
      </div>
   </div>
            
    
               
      <div class="parcelas_do_produto"><br>                            
            <span class="preco-parc2"> Ou
             <strong class="color"> 12x</strong> </span>
    
                     <span> de </span>
           <span><strong>R$ 15,06</span> </strong>    
                  <span> com tarifa </span>
                  <div class="buttons__comprar">
                    <button type="button">COMPRAR!</button>
                    </div>   
              </div>
            </div>		
          
      
   
                
  <!--PRODUTO 2-->
                  
                
     <div id="pt-2" class="img__produto">
      <div>
      <a href="">
        <img class="Link__produto"
           src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
           alt="Camisa do Brasil"
           style="">
         </div>   
      </a>
   </div>
            
     <div class="produto__1">
       <h3 class="produto__1__h3">
        <a href=""> Camisa do Brasil  </a></h3>
          
       <div class="Descrição_preços">
          <div class="sub_linha_1">
             <p class="descrição_preço">2 por R$ 00,00</p>
       </div>
  
         <div class="sub_linha_2">
             <p class="descrição_preço">3 por R$ 00,00</p>
        </div>
     </div>
              
      
                 
        <div class="parcelas_do_produto"><br>                            
              <span class="preco-parc2"> Ou
               <strong class="color"> 12x</strong> </span>
      
                       <span> de </span>
             <span><strong>R$ 15,06</span> </strong>    
                    <span> com tarifa </span>
                    <div class="buttons__comprar">
                    <button type="button">COMPRAR!</button>
                    </div>     
                </div>
              </div>		
            
                
     <!--PRODUTO 3-->
        
                                 
                          
              <div class="img__produto">
                <div>
                <a href="">
                  <img class="Link__produto"
                     src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
                     alt="Camisa do Brasil"
                     style="">
                   </div>   
                </a>
             </div>
                      
               <div class="produto__1">
                 <h3 class="produto__1__h3">
                  <a href=""> Camisa do Brasil  </a></h3>
                    
                 <div class="Descrição_preços">
                    <div class="sub_linha_1">
                       <p class="descrição_preço">2 por R$ 00,00</p>
                 </div>
            
                   <div class="sub_linha_2">
                       <p class="descrição_preço">3 por R$ 00,00</p>
                  </div>
               </div>
                        
                
                           
                  <div class="parcelas_do_produto"><br>                            
                        <span class="preco-parc2"> Ou
                         <strong class="color"> 12x</strong> </span>
                
                                 <span> de </span>
                       <span><strong>R$ 15,06</span> </strong>    
                              <span> com tarifa </span>
                              <div class="buttons__comprar">
                              <button type="button">COMPRAR!</button>
                              </div>     
                          </div>
                        </div>		
                      


<!--PRODUTO 4-->


<div class="img__produto">
                <div>
                <a href="">
                  <img class="Link__produto"
                     src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
                     alt="Camisa do Brasil"
                     style="">
                   </div>   
                </a>
             </div>
                      
               <div class="produto__1">
                 <h3 class="produto__1__h3">
                  <a href=""> Camisa do Brasil  </a></h3>
                    
                 <div class="Descrição_preços">
                    <div class="sub_linha_1">
                       <p class="descrição_preço">2 por R$ 00,00</p>
                 </div>
            
                   <div class="sub_linha_2">
                       <p class="descrição_preço">3 por R$ 00,00</p>
                  </div>
               </div>
                        
                
                           
                  <div class="parcelas_do_produto"><br>                            
                        <span class="preco-parc2"> Ou
                         <strong class="color"> 12x</strong> </span>
                
                                 <span> de </span>
                       <span><strong>R$ 15,06</span> </strong>    
                              <span> com tarifa </span>
                              <div class="buttons__comprar">
                              <button type="button">COMPRAR!</button>
                              </div>     
                          </div>
                        </div>		
                      


  <!--PRODUTO 5-->

  <div class="img__produto">
    <div>
    <a href="">
      <img class="Link__produto"
         src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
         alt="Camisa do Brasil"
         style="">
       </div>   
    </a>
 </div>
          
   <div class="produto__1">
     <h3 class="produto__1__h3">
      <a href=""> Camisa do Brasil  </a></h3>
        
     <div class="Descrição_preços">
        <div class="sub_linha_1">
           <p class="descrição_preço">2 por R$ 00,00</p>
     </div>

       <div class="sub_linha_2">
           <p class="descrição_preço">3 por R$ 00,00</p>
      </div>
   </div>
            
    
               
      <div class="parcelas_do_produto"><br>                            
            <span class="preco-parc2"> Ou
             <strong class="color"> 12x</strong> </span>
    
                     <span> de </span>
           <span><strong>R$ 15,06</span> </strong>    
                  <span> com tarifa </span>
                  <div class="buttons__comprar">
                  <button type="button">COMPRAR!</button>
                  </div>     
              </div>
            </div>		
          



<!--PRODUTO 6-->


<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        

<!-- PRODUTO 7-->
		

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        


<!--PRODUTO 8-->


<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        


<!-- PRODUTO 9-->


<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        


<!-- PRODUTO 10-->


<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>


  <!-- MAIS VENDIDOS-->          
            <div class="card-item">
              <h2 class="Titulo__main" style=" display: flex;
              justify-content: center;
              align-items: center;  background-image: linear-gradient(BLUE, yellow);
              height: 100px;width: 1350px;margin-top: 5px; color: white; font-size: 50px;">MAIS VENDIDO</h2>
          </div>	


<!-- PRODUTO 1-->


<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        
<!-- PRODUTO 2-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>		
        
<!-- PRODUTO 3-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	


<!-- PRODUTO 4-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 5-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 6-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 7-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 8-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 9-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 10-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 11-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 12-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 13-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 14-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 15-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	

<!-- PRODUTO 16-->

<div class="img__produto">
  <div>
  <a href="">
    <img class="Link__produto"
       src="https://www.oficinadoabada.com.br/wp-content/uploads/2019/07/camisa-de-time-personalizada-catn-102-300x300.png" 
       alt="Camisa do Brasil"
       style="">
     </div>   
  </a>
</div>
        
 <div class="produto__1">
   <h3 class="produto__1__h3">
    <a href=""> Camisa do Brasil  </a></h3>
      
   <div class="Descrição_preços">
      <div class="sub_linha_1">
         <p class="descrição_preço">2 por R$ 00,00</p>
   </div>

     <div class="sub_linha_2">
         <p class="descrição_preço">3 por R$ 00,00</p>
    </div>
 </div>
          
  
             
    <div class="parcelas_do_produto"><br>                            
          <span class="preco-parc2"> Ou
           <strong class="color"> 12x</strong> </span>
  
                   <span> de </span>
         <span><strong>R$ 15,06</span> </strong>    
                <span> com tarifa </span>
                <div class="buttons__comprar">
                <button type="button">COMPRAR!</button>
                </div>     
            </div>
          </div>	






        	</div>
        </div>
        </section>
<!--CAIXAS DE LINKS-->




<div class="CAIXAS_LINKS" style="display: inline-flex; ">
					
		
	<div class="
		banner__container1
	">
							<div class="CAIXA-LINK-NOV">
									<a href="" class="banner__link">
									<img src="https://static.wixstatic.com/media/9381a9_a57787af8a5043e2bb7999597643f7bb.jpg" 
                  alt="" title="NOVIDADES" width="300" height="300" style="">
									</a>
							</div>
			</div>
				
					
		
	<div class="banner__container2">
							<div class="CAIXA-LINK-ATACADO">
									<a href="" class="banner__link">
									<img src="https://cdn.simplo7.net/static/11997/galeria/152960003364833.png"
                   alt="" title="ATACADO" width="300" height="300"  style="">
									</a>
							</div>
			</div>
				
					
		
	<div class="banner__container3">
							<div class="CAIXA-LINK-PERG">
									<a href="" class="banner__link">
									<img src="http://bomsucessodosul.pr.gov.br/wp-content/uploads/2021/02/preguntas-frequentes.jpg" 
                  alt="" title="PERGUNTAS" width="300" height="300" style="">
									</a>
                  
							</div>
              
			</div>
			</div>





<!--ESTA CAIXA BOX PRECISARÁ SER COLOCADA NO FOOTER DEPOIS-->

    <div class="footer__boxMSG">
			<div class="centralizado">
				<form class="Box_footer" action="" method="POST">
	<input type="hidden" name="loja" value="860761">
	
	
	
	<h2 class="seu-email">
					Deixe seu e-mail e receba nossas promoções exclusivas:
  </h2>

	<input class="nome__input"  type="text" aria-label="Nome" placeholder="Digite seu nome" required="">      

	<input class="email__input" type="email" aria-label="E-mail" placeholder="Digite seu e-mail" required="">

	<input type="text" name="phone" id="phone" autocomplete="off" aria-label="Não preencha este campo; mantenha-o vazio." placeholder="Telefone/Cel">
<div class="receber_button">
	<button type="button"  class="button" >
					Receber Ofertas
			</button></div>

      
</form>			</div>
		</div>





  </main>
  <footer style="background-color: silver;">
   
    
    <div>
        
        <div>
        <p>Copyright ©2022, TODOS OS DIREITOS RESERVADOS. Todo o conteúdo do site, todas as fotos, imagens, 
        logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui veiculados são 
        exclusivamente para uso acadêmico.</p>
        <p>Curso Fullstack Web - Turma 0222CDFSPCN05BRED</p>

          <div  style="display: flex;">
            <div style="margin-left: 145px">
              <img src="https://cdn.icon-icons.com/icons2/818/PNG/128/Social-01-Facebook-Outline_icon-icons.com_66389.png" alt="Facebook" height ="80" width="100" />
              <button type="button">none</button>
            </div>
            <div style="margin-left: 145px">
              <img src="https://cdn.iconscout.com/icon/free/png-256/instagram-logo-3603536-3004252.png"                               alt="Instagram" height ="80" width="100" />
              <button type="button">none</button>
            </div>
            <div style="margin-left: 145px">
              <img src="https://e7.pngegg.com/pngimages/957/382/png-clipart-computer-icons-twitter-leaf-branch.png"                   alt="Twitter" height ="80" width="100" />
              <button type="button">none</button>
            </div>
          </div>
      </div>
  </footer>
</body>
</html>